<div
    style="
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background: rgb(120, 204, 255);
        background: linear-gradient(
            87deg,
            rgba(120, 204, 255, 1) 0%,
            rgba(0, 47, 184, 1) 88%
        );
        display: flex; justify-content: center; align-items: center
    "
>
    <div style="background-color: rgba(255, 255, 255, 0.712); border-radius: 20px; padding: 40px">
        <h1 style="width: 100%;">Hola, todo bien?</h1>
    </div>
</div>
